.warning {
    background-color: #fff3cd;
    border: 2px solid #bd8e02;
    padding: 15px;
    margin: 10px 0;
}

.info {
    background-color: #ddf0ff;
    border-left: 4px solid #007bff;
    padding: 15px;
    margin: 10px 0;
}

.tip {
    background-color: #e7fbea;
    border-left: 4px solid #28a745;
    padding: 15px;
    margin: 10px 0;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}